@import './_colors.scss';
@import './_fonts.scss';

body {
  overflow-x: hidden;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.unpad {
  padding: 0;
}

.showcase {
  padding: 20px;
  background-color: $color-primary;
  .row.showcase-main {
    min-height: 70vh;
  }
  .img-wrapper {
    width: 100%;
    position: absolute;
  }
  .item {
    position: absolute;
  }
  .pr-img {
    height: 70vh;
  }
  h3, p, em {
    color: white;
  }
  h3 {
    font-size: 32px;
    font-weight: 700;
  }
  p {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.58;
  }
}

.showcase-control {
  color: white;
  font-size: 35px;
  span.glyphicon {
    cursor: pointer;
  }
}

.leave {
  display: none;
}

.learn,
.about {
  padding-left: 10vw;
  padding-right: 10vw;
  h3, p {
    color: $color-text;
  }
  h3 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.58;
    font-size: 21px;
  }
  .quote {
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
  }
}

