@import './_colors.scss';
@import './_fonts.scss';

body {
  overflow-x: hidden;
  font-family: Open Sans;
  font-weight: 300;
}

.unpad {
  padding: 0;
}

.showcase {
  padding: 20px;
  background-color: $color-primary;
  .row.showcase-main {
    min-height: 70vh;
  }
  .img-wrapper {
    width: 100%;
  }
  .pr-img {
    height: 70vh;
  }
  h2, p {
    color: white;
  }
  p {
    margin-top: 10px;
    font-size: 20px;
  }
}

.showcase-control {
  color: white;
  font-size: 35px;
}

.leave {
  display: none;
}

